/* Style général */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0b0d15; /* Fond sombre */ 
    color: #ffffff;
    
}



.main-header {
    background-color: #0b0d15; /* Fond du header */
    padding: 10px 20px;
    border-bottom: 1px solid #1a1e2b; /* Ligne subtile en bas */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: red;
}

/* Logo */
.logo img {
    max-height: 40px;
}

/* Navigation */
.nav-links {
    display: flex;
    gap: 30px; /* Espacement entre les liens */
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #4a90e2; /* Couleur de survol */
}

/* Liens Authentification */
.auth-links {
    display: flex;
    gap: 15px; /* Espacement entre les boutons */
}

.auth-links .button {
    padding: 8px 20px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: transparent;
}

.auth-links .button:hover {
    background-color: #ffffff;
    color: #0b0d15;
}
